body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #4a3402;
  text-align: center;
  padding: 50px;
  color: #d97307;
}

.card {
  background-color: #4e733b;
  width: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.profile-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.title {
  color: #dec63e;
  font-size: 18px;
}

a {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #4e733b;
  background-color: #dec63e;
  padding: 10px 20px;
  border-radius: 10px;
}
